<style>
    footer {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 10px;
    }
</style>
<footer>
  <hr>
  <div class="address pull-right">
    <span>İşçi Blokları Mah. 1538 Sok. 14/2, 100. Yıl, Çankaya, Ankara</span>
    <br>
    <span>Telefon: 0543 257 76 46</span>
    <br>
    <span>E-posta: <a href="simdilikbsfd@gmail.com">simdilikbsfd@gmail.com</a></span>
  </div>
  <div class="footer-links">
    <a href="https://www.facebook.com/pages/%C5%9Eimdilik-Bilim-Sanat-ve-Felsefe-Derne%C4%9Fi/1584258658495054">Facebook Sayfamız</a><br>
    <a href="https://github.com/simdilik">GitHub Sayfamız</a>
  </div>
</footer>
