<style>
    ul.menu {
      padding: 20px;
      list-style: none;
    }

    ul.menu > li.menuItem {
      display: inline-block;
      width: 18%;
      font-size: 18px;
      font-weight: bold;
    }
</style>
<menu>
  <ul class="menu">
    <li class="menuItem"><a href="/kim.html">Kim?</a></li>
    <li class="menuItem"><a href="/ne.html">Ne?</a></li>
    <li class="menuItem"><a href="/neden.html">Neden?</a></li>
    <li class="menuItem"><a href="/nasil.html">Nasıl?</a></li>
    <li class="menuItem"><a href="/nerede.html">Nerede?</a></li>
  </ul>
</menu>
