<style>

    .nav-tabs {
      font-size: 18px;
      margin: 10px 0 30px 0;
    }

    .nav-tabs li.item > a {
      height: 90px;
      line-height: 80px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .nav-tabs li.item-logo > a {
      padding-left: 0;
      padding-right: 0;
      margin-right: 20px;
    }

    .nav-tabs .logo {
      width: 140px;
      height: 70px;
      background-image: url('/images/logo_small.jpg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      border: none;
    }


</style>



<ul class="nav nav-tabs">
  <li class="item-logo">
    <a href="/index.html">
      <img alt="Brand" src="/images/logo_small.jpg">
    </a>
  </li>
  <li class="item {% if page.title == 'kim' %}active{% endif %}"><a href="/kim.html">Kim?</a></li>
  <li class="item {% if page.title == 'ne' %}active{% endif %}"><a href="/ne.html">Ne?</a></li>
  <li class="item {% if page.title == 'neden' %}active{% endif %}"><a href="/neden.html">Neden?</a></li>
  <li class="item {% if page.title == 'nasil' %}active{% endif %}"><a href="/nasil.html">Nasıl?</a></li>
  <li class="item {% if page.title == 'nerede' %}active{% endif %}"><a href="/nerede.html">Nerede?</a></li>
  <li class="item {% if page.title == 'uyelik' %}active{% endif %}"><a href="/uyelik.html">Üyelik/Bağış</a></li>
</ul>

